
/Oblivions Crucible/Library
/Oblivions Crucible/Logs 
/Oblivions Crucible/UserSettings 
 
/Oblivions Crucible/Temp
/Oblivions Crucible/Logs/*.log
Oblivions Crucible/UserSettings/Layouts/default-2022.dwlt
Oblivions Crucible/Logs/AssetImportWorker0.log
Oblivions Crucible/Logs/AssetImportWorker1.log
Oblivions Crucible/UserSettings/EditorUserSettings.asset
